body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff;
	background-image: url('/images/housewall.png');
}

h1 {
	background: skyblue;
	margin: 0;
	padding: 20px;
	text-align: center;
}