@import '../styles/variables';

.roof {
	background-color: $roof-color;
	box-sizing: border-box;
	width: calc(100% + 100px);
	display: grid;
	grid-template-columns: repeat(4, calc(25% - 10px));
	grid-gap: 10px;
	grid-template-rows: repeat(4, 100px);
	padding: 30px 80px;
	box-shadow: 0px 10px 30px rgba(black, .3);
	transform: skewX(10deg) translateX(-30px);
}